// Colors
$main-color: #4B1166;
$main-font-color: #ffffff;
$secondary-color: #3FEFC1;

// Navigation colors
$nav-background: $main-color;
$nav-text-color: $main-font-color;
$nav-link-color: $secondary-color;

//Clock
$clock-text-color: $secondary-color;
$clock-bg-color: lighten($main-color, 10%);
$clock-border-color: darken($secondary-color, 20%);